/* Stili generali */
ul#menu {
    font-family: Verdana, sans-serif;
    font-size: 11px;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul#menu li {
    background-color: #FF831C;
    display: block;
    width: 150px;
    height: 30px;
    margin: 2px;
    float: left; /* elementi su singola riga */
}
ul#menu li a {
    color: #fff;
    display: block;
    font-weight: bold;
    line-height: 30px;
    text-decoration: none;
    width: 150px;
    height: 30px;
    text-align: center;
}
body {
    background-image: url(pasqua.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
}
#div {
    margin: 0 auto;
    width: 50%;
    text-align: center;
    margin-left: 400px;
}
h2 {
    text-align: center;
}
.cibo {
    text-align: center;
}
.nomi {
    margin-left: 47%;
    margin-top: 0%;
}

/* Stili responsive */
@media screen and (max-width: 768px) {
    body {
        background-size: cover;
        background-position: center;
    }
    #div {
        margin: 0 auto;
        width: 90%;
        text-align: center;
    }
    ul#menu {
        text-align: center;
        padding: 0;
    }
    ul#menu li {
        width: 100%;
        float: none; /* Dispone gli elementi in verticale */
        margin: 5px 0;
    }
    ul#menu li a {
        width: 100%;
    }
    .nomi {
        margin-left: 0;
        margin-top: 10px;
        text-align: center;
    }
}